.bottom-sheet-enter-active,
.bottom-sheet-leave-active {
  transition: opacity 0.4s
}

.bottom-sheet-enter-from,
.bottom-sheet-leave-to {
  opacity: 0;
}

.bottom-sheet {
  z-index: 20;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  top: 0;
  background-color:  rgba(33, 85, 163, 0.16);
  &__content {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    min-height: 30%;
    width: 100%;
    max-height: 80%;
    border-radius: 24px 24px 0 0;
    background-color: #FFF;
    box-shadow: 0 6px 58px 0 rgba(121, 145, 173, 0.20);
    &_overflow {
      overflow: auto;
      margin-bottom: 32px;
    }
  }
  &__action {
    margin-top: auto;
  }
  &__header {
    text-align: center;
    padding-top: 12px;
    margin-bottom: 24px;
  }
  &__line {
    border: none;
    height: 4px;
    width: 54px;
    margin-bottom: 16px;
    border-radius: 4px;
    background-color: #D8DDE6;
  }
}
